body{
    font-family: 'Josefin Sans';font-size: 22px;
    background-image: url('images/pexels-pixabay-220182.jpg');
    width: 100%;
    background-size: cover;


}

.contact-me{
    display:block;
    color:#fff;
    background-color: rgba(128, 128, 128, 0.808);
    width:115px;
    height:25px;
    border-radius:30px;
    font-weight:bolder;
    text-align:center;
    padding:8px;
}

.profile-pic{
    position: fixed;
    border-radius:100%;
    width: 70px;
    height: 70px;
}

.about-me{
    display:block;
    color:#fff;
    background-color: rgba(128, 128, 128, 0.808);
    width:115px;
    height:25px;
    border-radius:30px;
    font-weight:bolder;
    text-align:center;
    padding:8px;
}
.scroll {
    display: block;
    border: 0px solid red;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.596);
    border-radius: 30px;
}
.my-skills{
    display:block;
    color:#fff;
    background-color: rgba(128, 128, 128, 0.808);
    width:115px;
    height:25px;
    border-radius:30px;
    font-weight:bolder;
    text-align:center;
    padding: 8px;
}

.footer{
    position: fixed; 
    background:rgba(128, 128, 128, 0); 
    width:100%;
    bottom:0;

}

.contact-icon{
    border-radius:100%;
    width:50px;
    height:50px;
}